<nav class="navbar p-5">
    <div class="container-fluid">
      <!-- Header de log in y bienvenida -->
      <a class="navbar-brand cabecera-name" *ngIf="isLoggedIn==true">
        Votar nunca se ha vuelto tan fácil con VotaFácil
      </a>
      <a class=" navbar-brand cabecera-name" *ngIf="isMenu==true">
        Bienvenido a VotaFácil usuario: <b>{{email}}</b>
      </a>
      <!-- Header de modulo-votacion -->
      <a class="navbar-brand cabecera-name" *ngIf="isVotar==true">
        Modulo de Votación 
      </a>
      <a class="navbar-brand cabecera-name" *ngIf="isConteo==true">
        Modulo de Conteo de Votos 
      </a>
      <!-- el '*ngif' me permite mostrar o NO algun pedazo de codigo-->
      <!-- Cuando allá iniciado sesión se mostrara este boton -->
      <button *ngIf="isMenu==true" istype="button" class="btn btn-warning" (click)="logOut()" >Cerrar sesión</button>
      <button *ngIf="isVotar==true || isConteo==true" istype="button" class="btn btn-warning" (click)="goMenu()" >Regresar al Menú</button>
    </div>
</nav>