.tipo-letra{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    background-color: #30A2D2; 
}
/* position debe estar en 'relative' para que este apegado abajo */
footer{
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    bottom: 0px;
}