.tipo-letra{
    background-color: #30A2D2;
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* position debe estar en 'relative' para que este apegado abajo */
footer{
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    bottom: 0px;
}