<div class="container-sm mt-5 box">
  <img src="../imagenes/images1.jpg" alt="">
    <div class="mb-4 votar" (click)="goVotar()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> <br>
        <label class="form-label" for="form2Example2">Votar</label>  
    </div>
    
    
    <div class="mb-4 resultados" (click)="goConteo()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> <br>
        <label class="form-label" for="form2Example2">Visualizar 
          resultados</label>  
    </div>
</div>
