.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
.btn-sesion{
    background-color: #3051D2;
}
.btn-sesion:hover{
    background-color: #6380f3;
}