<div class="contenedor">
    <div class="contenedor-conciertos">
        <!-- con [class.seleccionado] ayuda a aplicar la clase CSS 'seleccionado' y que se quite cuando se de click en votar-->
        <!-- *ngFor="let candidato of listaCandidatos" hace que se repita toda la etiqueta 8 veces -->
        <div ngModel class="card" style="background-image: url('../imagenes/images1.jpg')" (click)="seleccionarOpcion(0)" [class.seleccionado]="opcionSeleccionada === 0">
            <div class="textos">
                <h3> {{listaCandidatos[0].Presidente}} y {{listaCandidatos[0].Vicepresidente}}</h3>
                <p>{{listaCandidatos[0].PartidoPolitico}}</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/6.jpg')" (click)="seleccionarOpcion(1)" [class.seleccionado]="opcionSeleccionada === 1">
            <div class="textos">
                <h3> {{listaCandidatos[1].Presidente}} y {{listaCandidatos[1].Vicepresidente}}</h3>
                <p>{{listaCandidatos[1].PartidoPolitico}}</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/2.jpg')" (click)="seleccionarOpcion(2)" [class.seleccionado]="opcionSeleccionada === 2">
            <div class="textos">
                <h3> {{listaCandidatos[2].Presidente}} y {{listaCandidatos[2].Vicepresidente}}</h3>
                <p>{{listaCandidatos[2].PartidoPolitico}}</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/3.jpg')" (click)="seleccionarOpcion(3)" [class.seleccionado]="opcionSeleccionada === 3">
            <div class="textos">
                <h3> {{listaCandidatos[3].Presidente}} y {{listaCandidatos[3].Vicepresidente}}</h3>
                <p>{{listaCandidatos[3].PartidoPolitico}}</p>
            </div>
        </div>

        <div class="card" style="background-image: url('./img/4.jpg')" (click)="seleccionarOpcion(4)" [class.seleccionado]="opcionSeleccionada === 4">
            <div class="textos">
                <h3> {{listaCandidatos[4].Presidente}} y {{listaCandidatos[4].Vicepresidente}}</h3>
                <p>{{listaCandidatos[4].PartidoPolitico}}</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/5.jpg')" (click)="seleccionarOpcion(5)" [class.seleccionado]="opcionSeleccionada === 5">
            <div class="textos">
                <h3> {{listaCandidatos[5].Presidente}} y {{listaCandidatos[5].Vicepresidente}}</h3>
                <p>{{listaCandidatos[5].PartidoPolitico}}</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/6.jpg')" (click)="seleccionarOpcion(6)" [class.seleccionado]="opcionSeleccionada === 6">
            <div class="textos">
                <h3> {{listaCandidatos[6].Presidente}} y {{listaCandidatos[6].Vicepresidente}}</h3>
                <p>{{listaCandidatos[6].PartidoPolitico}}</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/6.jpg')" (click)="seleccionarOpcion(7)" [class.seleccionado]="opcionSeleccionada === 7">
            <div class="textos">
                <h3> {{listaCandidatos[7].Presidente}} y {{listaCandidatos[7].Vicepresidente}}</h3>
                <p>{{listaCandidatos[7].PartidoPolitico}}</p>
            </div>
        </div>
    </div>

    <div class="banner" style="background-image: url('./img/banner.jpg')">
        <h2>Seleccionado</h2>
        <ul> 
            <p>Cada voto equivale a 10</p>
            <p> <b>Votos realizados <br>
                por sesión: </b> {{ puntos }} <br><br>
                <b>Opción selecconada:</b> <br> {{listaCandidatos[opcionSeleccionada].Presidente}} 
            </p>
        </ul>
        <button class="boton" (click)="voto()">Votar</button>
    </div>
</div>