<!-- <div class="box">
    <div class="candidato">
            <img src="../imagenes/IMG_.jpg" alt="">
            <h2>Candidato 1</h2>
            <p>Nombres: ABC nombre</p>
            <p>Puesto: Vicepresidente</p>
            <p>Organización: Partido B</p>
    </div>
    <div class="candidato">
            <img src="../imagenes/images1.jpg" alt="">
            <h2>Candidato 2</h2>
            <p>Nombres: ABC nombre</p>
            <p>Puesto: Vicepresidente</p>
            <p>Organización: Partido B</p>
    </div>
    <div class="candidato">
            <img src="../imagenes/images1.jpg" alt="">
            <h2>Candidato 3</h2>
            <p>Nombres: ABC nombre</p>
            <p>Puesto: Vicepresidente</p>
            <p>Organización: Partido B</p>
    </div>
    <div class="candidato">
            <img src="../imagenes/images1.jpg" alt="">
            <h2>Candidato 4</h2>
            <p>Nombres: ABC nombre</p>
            <p>Puesto: Vicepresidente</p>
            <p>Organización: Partido B</p>
    </div>
    
</div> -->
<div class="contenedor">
    <div class="contenedor-conciertos">
        <div class="card" style="background-image: url('./img/1.jpg')">
            <div class="textos">
                <h3>Rock In Rio</h3>
                <p>27 de Octubre 2021</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/2.jpg')">
            <div class="textos">
                <h3>FalconMasters’ Concert</h3>
                <p>12 de Noviembre 2021</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/3.jpg')">
            <div class="textos">
                <h3>Coachella</h3>
                <p>13 de Diciembre 2021</p>
            </div>
        </div>

        <div class="card" style="background-image: url('./img/4.jpg')">
            <div class="textos">
                <h3>US Festival</h3>
                <p>20 de Diciembre 2021</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/5.jpg')">
            <div class="textos">
                <h3>Altamont Speedway</h3>
                <p>27 de Diciembre 2021</p>
            </div>
        </div>
        <div class="card" style="background-image: url('./img/6.jpg')">
            <div class="textos">
                <h3>Rock In Rio Again</h3>
                <p>1 de Enero 2021</p>
            </div>
        </div>
    </div>

    <div class="banner" style="background-image: url('./img/banner.jpg')">
        <h3>Rock Legends 2021</h3>
        <ul>
            <img src="../imagenes/IMG_.jpg" alt="">
        </ul>
        <button class="boton">Comprar Boletos</button>
    </div>
</div>